<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="../static/css/style-login.css"> -->
  <!-- <link rel="shortcut icon" href="../static/img/icone.png" type="image/x-icon"/> -->
  <link rel="stylesheet" href="/css/style-login.css">
  <link rel="shortcut icon" href="/img/icone.png" type="image/x-icon"/>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Registro</title>
</head>

<body onload="">
<div class="container">
  <div class="header">
    <h1 class="titulo">Registro</h1>
    <a class="titulo" href="/login">
      <h1>Retornar ao login</h1>
    </a>
  </div>
  <div class="main">
    <div class="login">
      <form action="" method="POST" enctype="multipart/form-data">
        Nome: <input type="text" value="" name="name">
        Email: <input type="text" value="" name="email">
        Senha: <input type="password" value="" name="password">
        Confirmar senha: <input type="password" value="" name="confirm">
        Foto de perfil: <input type="file" name="file">
        <button type="submit">Registrar</button>
      </form>
    </div>
  </div>
  <div class="footer"><i class="far fa-copyright"></i> COPYRIGHT 2020</div>
</div>
</body>
<script src="https://kit.fontawesome.com/2ab085298c.js" crossorigin="anonymous"></script>

</html>