<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>Register</title>
</head>

<form action="" method="post" enctype="multipart/form-data">
  Name: <input type="text" value="" name="name">
  Email: <input type="text" value="" name="email">
  Password: <input type="password" value="" name="password">
  Confirm password: <input type="password" value="" name="confirm">
  File: <input type="file" name="file">

  <button type="submit">Register</button>

</form>

</html>